# Dependencies
node_modules/

# Build artifacts
dist/
build/
*.js.map # Source maps

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env*.local

# IDE and OS specific files
.DS_Store
.vscode/
*.iml
.idea/

# UI
ui/

# Ignore
src/old

key.js